# Node / Frontend
node_modules/
build/
dist/
npm-debug.log*
.eslintcache

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.pytest_cache/

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.*
*.tfstate
*.tfstate.*
crash.log
crash.out
*.tfvars
!.tfvars.example

# OS / IDE
.DS_Store
.vscode/
.idea/